/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.main-container {
  background-color: black;
  min-height: 100vh;
}